textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-download {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.success-message {
    color: black;
    font-weight: bold;
    margin-top: 10px;
}